dist: trusty
language: python

addons:
    apt:
      update: true

install:
    - ./.travis/install.sh

# pypy is not passing, but allow failures for coverage stage to be reached
matrix:
  allow_failures:
    - python: pypy


jobs:
  include:
    - &test_job
      stage: Test
      script:
        - python runtest.py test/Clang
      before_script: skip
      after_success: skip
      python: 2.7
      env: PYVER=27
      sudo: required
