# Dependencies for development - mainly for running tests
#
# You can alternativey use: pip install scons[dev]
# to pick up the dependencies from pyproject.toml

-r requirements.txt

# pin lxml if it breaks on a new release, which has happened many times.
# we used to skip lxml on win32 as no tests which require it currently
# pass on Windows anyway, and as we don't build docs on Windows either.
# Add the exclusion back if it's found to cause trouble.
# lxml and sys.platform != 'win32'
lxml

ninja

# Needed for test/Parallel/failed-build/failed-build.py
# Also for test/ninja/shutdown_scons_daemon.py
psutil
