# Packages needed for development, packaging, and distribution, but not for running SCons

# This will check if the README.rst will render o.k. on pypi and not block an upload
# Can be used with twinecheck
# See: https://github.com/pypa/readme_renderer
readme-renderer
sphinx
sphinx_rtd_theme
rst2pdf
# for now keep pinning "known working" lxml,
# it's been a troublesome component in the past.
lxml==4.9.1
rst2pdf
ninja

# Needed for test/Parallel/failed-build/failed-build.py
# Also for test/ninja/shutdown_scons_daemon.py
psutil
