# Dependencies for packaging and distribution, including the docs build
#
# You can alternatively use: pip install scons[pkg]
# to pick up the dependencies from pyproject.toml

-r requirements-dev.txt

# Check if the README.rst will render o.k. on pypi and not block an upload
# Can be used with twinecheck
# See: https://github.com/pypa/readme_renderer
readme-renderer

# pin sphinx if it breaks on a new release, which has happened many times.
sphinx
sphinx-book-theme
rst2pdf
# pdf doc build suggests this for better results, excluded for now:
# "matplotlib",

build
twine
packaging
