Source: scons
Section: devel
Priority: extra
Maintainer: Anthony Roach <aroach@electriceyeball.com>
Standards-Version: 3.5.6.0
Build-Depends: debhelper

Package: scons
Architecture: all
Depends: python-scons|python2-scons,python-base(>=1.5.2)|python2-base
Suggests: python-scons, python2-scons
Description: An Open Source software construction tool
 SCons is an Open Source software construction tool--that is, a build tool; an
 improved substitute for the classic Make utility; a better way to build
 software.

Package: python-scons
Architecture: all
Depends: python-base(<<2.0), python-base(>=1.5.2)
Description: SCons Python 1.5.2 extension modules
 SCons is an Open Source software construction tool--that is, a build tool; an
 improved substitute for the classic Make utility; a better way to build
 software.

Package: python2-scons
Architecture: all
Depends: python2-base(<<2.1), python2-base(>=2.0)
Description: SCons Python 2.0 extension modules
 SCons is an Open Source software construction tool--that is, a build tool; an
 improved substitute for the classic Make utility; a better way to build
 software.
