# This is a basic workflow to help you get started with Actions

name: Test Experimental Features

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.8 ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies including ninja ${{ matrix.os }}
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install ninja
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          # sudo apt-get update
      - name: Test experimental packages ${{ matrix.os }}
        run: |
          python runtest.py test/import.py test/ninja
