# This is a basic workflow to help you get started with Actions

name: Full Test Suite

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    strategy:
      matrix:
        os: ['ubuntu-22.04', 'ubuntu-24.04', 'windows-latest']

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.1

      # Defaults are: 22.04 - 3.10, 24.04 - 3.12, windows-latest 3.9
      - name: Set up Python 3.12 ${{ matrix.os }}
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.12'

      - name: Install dependencies including ninja ${{ matrix.os }}
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements-dev.txt
          # sudo apt-get update

      - name: runtest ${{ matrix.os }}
        run: |
          python runtest.py --all --time --jobs=2

      - name: Archive Failed tests ${{ matrix.os }}
        uses: actions/upload-artifact@v3.1.3
        with:
          name: ${{ matrix.os }}-failed-tests
          path: |
            failed_tests.log
